.wrap h2 {
    border-bottom:1px solid #CCCCCC;
    padding-bottom:0;
}
.dp-payments li, .dp-settings li {
    float: left;
}
#ajax-loader {
	float: right;
}



#directory-tabs .ui-widget-header {
 /*   border: 1px solid #ffffff;
    background: #464646 url(images/tab_.png) 50% 50% repeat-x;           */
    color: #ffffff;
    font-weight: bold;
    height: 36px;
    padding: 0px 0px 1px 0px;
}



#directory-tabs .ui-state-hover,
#directory-tabs .ui-widget-content .ui-state-hover,
#directory-tabs .ui-state-focus,
#directory-tabs .ui-widget-content .ui-state-focus {
    background: url("images/tab_bg_hover.png") repeat-x scroll 50% 50% #444444;
    border: 1px solid #666666;
    color: #FFFFFF;
    font-weight: normal;
    outline: medium none;
}

#directory-tabs .ui-state-hover a {
    color: #FFFFFF;
    outline: medium none;
    text-decoration: none;
}

#directory-tabs .ui-state-default {
    border: 1px solid #666666;
    background: #555555
    url(images/tab_bg.png) 50% 50% repeat-x;
    font-weight: normal;
    color: #ffffff;
    outline: none;
}

#directory-tabs .ui-corner-top {
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
}
#directory-tabs .ui-tabs-nav li {
    margin: 5px 5px 0 0;
}
#directory-tabs .ui-state-active {
    border: 1px solid #666666;
    background: #ffffff url(images/tab_blank.png) 50% 50% repeat-x !important;
    font-weight: normal;
    color: #fff;
    outline: none;
}
#directory-tabs .ui-state-active a {
    color: #000 !important;
}

#directory-tabs .ui-corner-bottom {
    -moz-border-radius-bottomleft: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-topright: 4px;
}


#directory-tabs .ui-widget-content {
    color: #fff;
}


#directory-tabs .ui-tabs-panel {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #666666;
/*    border-top: 0px solid #000;*/
    display: block;
    color: #000000;
    font-size: 12px;
    line-height: 1.4;
    padding: 5px 9px 20px 9px;
    margin: -1px 0 0;
}



.ui-tabs {
    position: relative;
    padding: .2em; zoom: 1;
} /* position: relative prevents IE scroll bug (element with position: relative inside container with overflow: auto appear as "fixed") */
.ui-tabs .ui-tabs-nav {
    margin: 0;
    padding: .2em .2em 0;
}
.ui-tabs .ui-tabs-nav li {
    list-style: none;
    float: left;
    position: relative;
    top: 1px;
    margin: 0 .2em 1px 0;
    border-bottom: 0 !important;
    padding: 0;
    white-space: nowrap;
}

.ui-tabs .ui-tabs-nav li a {
    float: left;
    padding: .5em 1em;
    text-decoration: none;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
    margin-bottom: 0;
    padding-bottom: 1px;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a,
.ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.ui-tabs .ui-tabs-nav li.ui-state-processing a {
    cursor: text;
    color: #000;
}

.ui-tabs .ui-tabs-nav li a,
.ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
    cursor: pointer;
    color: #fff;
    font-weight: bold;
}

/* first selector in group seems obsolete, but required to overcome bug in Opera applying cursor: text overall if defined elsewhere... */

.ui-tabs .ui-tabs-panel {
    display: block;
    border-width: 0;
    padding: 1em 1.4em;
    background: none;
}

.ui-tabs .ui-tabs-hide {
    display: none !important;
}