.wrap h2 {
    border-bottom:1px solid #CCCCCC;
    padding-bottom:0;
}
.dp-payments li, .dp-settings li {
    float: left;
}
#ajax-loader {
	float: right;
}

.postbox h3 {
    cursor: auto;
    padding: 7px 10px 7px 10px;
}