/* Directory Style */

.dp_error, .error {
	background: #FFEBE8;
}


.field_checking {
	color: black;
}

.field_exists {
	color: red;
}

.field_available {
	color: green;
}

.row-actions {
	visibility: hidden;
	padding: 2px 0 0;
}

tr:hover .row-actions,
div.comment-item:hover .row-actions {
	visibility: visible;
}

.clear{
	clear: both;
	width:auto;
	height: auto;
}

.clear_left{
	clear: left;
}

.clear_right{
	clear: right;
}

.tax_panel{
	overflow: auto;
	height:160px;
	font-size: .8em;
	border:1px solid #ddd;
}

.tax_panel ul{
	padding: 0;
	list-style: none outside none;
}
.taxonomydiv{
	float: left;
	display: block;
	width:47%;
	margin-right: 3%;
}

.editfield input, 
.editfield textarea {
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  width:100%;
}

/* #dr_listing_list */

#dr_listing_list .entry-title{
  float: left;	
}

#dr_listing_list .entry-meta{
	clear: none;
	float: right !important;
	width: 240px;
}

#dr_listing_list .entry-post{
	border: 1px solid #ddd;
	margin-bottom: 1em;
	padding: 1em;
}

#dr_listing_list .entry-summary{
	margin-right: 250px;
}


/*Categories list grid css*/
#dr_list_categories span{
	font-size: small;
}

.dr_list_categories ul{
	padding:0;
	margin:0;
}

.dr_list_grid h2{
	background-color: #eee;
	padding: .2em 1em;
	border-radius: .3em;
}

.dr_list_grid li{
	float: left;
	list-style: none outside none;
	min-height: 10em;
	padding: .5em;
	width: 19%;
	margin-right: 2%;
	border: medium solid #eee;
	border-radius: .4em;
}


/*Categories list css*/
.dr_list h2{
	background-color: #eee;
	padding: .2em 1em;
	border-radius: .3em;
	text-shadow: 1px 1px #fff;
}

.dr_list ul{
	min-width:50%;
}

.dr_list li{
	list-style: none outside none;
	margin: .6em;
}

.dr_list div{
	float:left;
	margin: 0 1em;
}

/* */