/* Directory Style */

.dp-error, .error {
background: #FFEBE8;
}

.field_checking {
    color: black;
}

.field_exists {
    color: red;
}

.field_available {
    color: green;
}

.row-actions {
    visibility: hidden;
    padding: 2px 0 0;
}

tr:hover .row-actions,
div.comment-item:hover .row-actions {
    visibility: visible;
}
