/********************************** adverts */
/********************************** comments */
/********************************** default formatting */
/********************************** directory */
/********************************** footer */
/********************************** forms */
/********************************** header */
/********************************** layout */
/********************************** navigation */
/********************************** typography */
/********************************** widgets */

/********************************** styles start >>> */
/********************************** adverts */
.h-ads {
    width: 728px;
    height: 90px;
    display: block;
    float: right;
    text-align: center;
    margin-top: 7px;
}
.h-ads span {
    line-height: 85px;
}
/********************************** comments */
#comments .title {
padding-bottom: 10px;
padding-left: 10px;
}

#comments h3, #trackbacks h3, #respond h3 {
margin: 10px 0px;
}

.comment-body {
padding-bottom: 10px;
}

ol.commentlist li {
margin: 0 0 30px 0;
}

.comment-content p {
padding: 0px 10px;
}

ol.commentlist .children {
margin-left: 20px;
}

div.comment-meta em {
float: right;
}

div.comment-options {
border-bottom: none;
}

.comment-options a {
margin-right: 10px;
}

.commentmetadata {
clear: both;
margin-top: 20px;
}

#trackbacks {
margin-top: 30px;
}

ol.commentlist, ul.children {
list-style: none !important;
margin: 0px !important;
}

.fn, .says{
	float: left;
	margin-right: 10px;
}

.entry-meta .fn{
	float: none;
}

.home #content h2{
	padding: 10px;
	margin-bottom: 10px;
}

/********************************** default formatting */
.alignright {
float: right;
margin-left: 15px;
}

.alignleft {
float: left;
margin-right: 15px;
}

#content img {
margin: 0;
max-width: 640px;
}

#content .attachment img {
max-width: 900px;
}

#content .alignleft,
#content img.alignleft {
display: inline;
float: left;
margin-right: 24px;
margin-top: 4px;
}

#content .alignright,
#content img.alignright {
display: inline;
float: right;
margin-left: 24px;
margin-top: 4px;
}

#content .aligncenter,
#content img.aligncenter {
clear: both;
display: block;
margin-left: auto;
margin-right: auto;
}

#content img.alignleft, 
#content img.alignright, 
#content img.aligncenter {
margin-bottom: 12px;
}

#content .wp-caption {
line-height: 18px;
text-align: center;
margin-bottom: 20px;
padding: 4px;
}

#content .wp-caption img {
margin: 5px 5px 0;
}

#content .wp-caption p.wp-caption-text {
margin: 5px;
font-size: 12px;
}

#content .wp-smiley {
margin: 0;
}

#content .gallery {
margin: auto;
}

#content .gallery .gallery-item {
float: left;
margin-top: 0;
text-align: center;
width: 33%;
}

#content .gallery .gallery-caption {
font-size: 12px;
margin: 0 0 12px;
}

#content .gallery dl {
margin: 0;
}

#content .gallery br+br {
display: none;
}
/********************************** directory */
.home #content, .archive #content, .dp-top-level #content {
    margin: 0px;
}

.archive #content h2, .dp-top-level #content h2 {
	margin-bottom: 10px;
}

.archive #content li {
    float: left;
    margin: 0 0 25px 0;
    list-style: none;
}

.archive #content .current-cat ul li, .dp-top-level #content ul li {
    float: left;
}

.dp-taxonomy-name {
    float: left;
}

.single .directory_listing {
    min-height: inherit;
}
.directory_listing {
    margin: 10px 0px;
    padding: 10px;
}

.dp-top-level #content li {
    list-style: none;
    padding-bottom: 20px;
}

div.menu {
    margin-top: 50px;
}

#masthead {
    position: relative;
}

#submit-site {
	float: right;
    margin: 4px 5px 0 5px;
}

#add-listing {
    float: right;
    margin: 4px 5px 0 5px;
}

#go-to-profile {
    float: right;
    margin: 4px 0 0 5px;
}
.page-template #content {
    margin: 0;
}

.page-template #content .dp-sys-info {
    width: 450px;
    float: left;
    margin: 0 0 24px 0;
}

.page-template #content .dp-prs-info {
    width: 450px;
    float: right;
    margin: 0 0 24px 0;
}

.page-template .entry-title {
    padding-bottom: 20px;
}

#signup-submit {
    display: block;
}

.dp-submit-txt {
    color: 666;
    font-size: 14px;
    font-style: italic;
}

.dp-terms {
    float: left;
    max-height: 200px;
    overflow-x: hidden;
}

.dp-top-level .cat-item {
    display: inherit;
}
.cat-item {
    display: none;
}
.current-cat {
    display: inherit;
}
.current-cat .children .cat-item {
    display: inherit;
}
.home .cat-item {
    display: inherit;
}
.archive #content .entry-summary p:last-child  {
    text-align: justify;
}

.wp-post-image {
    padding: 5px;
    margin-right: 15px !important;
    margin-bottom: 0 !important;
}

.dp-error {
    background: #FFEBE8 !important;
}

.dp-invalid-login {
    padding-left: 40px;
    float: left;
    display: block;
}

#branding {
    max-height: 200px;
}

.single #content {
    margin: 0px;
}

.archive .wp-post-image {
    width: 50px !important;
    height: 50px !important;
}

.menu-header {
    height: 38px;
    margin-left: 0 !important;
    padding-left: 8px;
    width: 932px !important;
}

#action-bar{
	padding: 10px;
}

.entry-meta{
	float: right;
	width: 200px;
	padding: 0 10px;
	border-left: 1px solid #dddddd;
}

.entry-post{
	margin-right: 230px;
}

#respond, .breadcrumbtrail, .excerptpost, .post, #checkout-page{
	margin-bottom: 10px;
	padding: 10px;
}

.archive #content .breadcrumbtrail li{
	margin: 0px;
}

.home #content ul{
	list-style: none;
}

h1.entry-title{
	padding-bottom: 20px;
	padding-top: 10px;
}
/********************************** footer */
#footer {
clear: both;
padding: 10px 0px 15px;
width: 100%;
}

#footer a {
margin-right: 10px;
}

/********************************** forms */
#searchbox{
	padding: 20px;
	margin: 10px 0px;
}

#searchbox label{
	float: left;
	padding-top: 6px;
	padding-right: 20px;
}

#searchbox input[type="text"]{
	padding: 6px 10px;
}

#searchbox input[type=submit]{
	padding: 8px 10px;
}
/********************************** header */
#header {
padding: 10px 0 0 0;
}

#site-logo {
margin: 0px;
padding: 25px 0px;
float: left;
}

#site-logo a {
text-decoration: none;
}

#container{
	clear: both;
	padding: 10px 0px;
}
/********************************** layout */
body {
margin: 0px;
padding: 0px;
}

.entry{
	padding: 20px 0px;
}

#site-wrapper {
margin: 0px auto;
width: 940px;
padding: 10px;
}
/********************************** navigation */
#navigation {
	display: block;
	margin: 0 auto;
	width: 980px;
}

#navigation-wrapper{
	text-align: center;
	width: 100%;
}

#navigation .menu-header,
div.menu {
	font-size: 14px;
	margin-left: 12px;
}

#navigation .menu-header ul,
div.menu ul {
	list-style: none;
	margin: 0;
}

#navigation .menu-header li,
div.menu li {
	float: left;
	position: relative;
}

#navigation a {
	display: block;
	line-height: 38px;
	text-decoration: none;
	padding: 0px 10px;
}

#navigation ul ul {
	display: none;
	position: absolute;
	top: 38px;
	left: 0;
	float: left;
	width: 180px;
	z-index: 99999;
}

#navigation ul ul li {
	min-width: 180px;
}

#navigation ul ul ul {
	left: 100%;
	top: 0;
}

#navigation ul ul a {
	line-height: 1em;
	padding: 10px;
	width: 160px;
	height: auto;
}

#navigation ul li:hover > ul {
	display: block;
}

/********************************** typography */
.headerpad, h3#comments{
	margin-bottom: 10px;
}
.pagetitle{
	padding-top: 10px;
}

p {
margin-bottom: 10px;
}

#content ul {
list-style: square;
margin: 10px;
}

#content ol {
list-style: decimal;
margin: 10px;
}

#content ol ol {
list-style: upper-alpha;
}

#content ol ol ol {
list-style: lower-roman;
}

#content ol ol ol ol {
list-style: lower-alpha;
}

#content dl {
margin: 0 0 24px 0;
}

#content dt {
font-weight: bold;
}

#content dd {
margin-bottom: 18px;
}

strong {
font-weight: bold;
}

cite,
em,
i {
font-style: italic;
}

big {
font-size: 131.25%;
}

blockquote cite,
blockquote em,
blockquote i {
font-style: normal;
}

pre {
line-height: 18px;
margin-bottom: 18px;
padding: 1.5em;
}

sup,
sub {
height: 0;
line-height: 1;
vertical-align: baseline;
position: relative;
}
sup {
bottom: 1ex;
}
sub {
top: .5ex;
}
/********************************** widgets */
#footer-widget-area {
	overflow: hidden;
	padding-top: 20px;
}
#footer-widget-area .widget-area {
	float: left;
	margin-right: 20px;
	width: 220px;
}
#footer-widget-area #fourth {
	margin-right: 0;
}

#wp_tag_cloud div {
line-height: 1.6em;
}

#wp-calendar {
width: 100%;
}

#wp-calendar caption {
font-weight: bold;
text-align: left;
font-size: 14px;
padding-bottom: 4px;
}

#wp-calendar thead {
font-size: 11px;
}

#wp-calendar tbody td {
padding: 3px 0 2px;
text-align: center;
}

#wp-calendar tfoot #next {
text-align: right;
}
/********************************** styles end <<< */
