/* =Directory Styles
-------------------------------------------------------------- */

.home #content li {
/*  	border: 1px solid #EEEEEE;*/
/*    float: left;*/
    list-style: none outside none;
 /*  margin: 10px;*/
	margin: 10px 0px;
/*    min-height: 90px;*/
 /*   padding: 10px;*/
/*    width: 190px;*/
}
.home #content li ul, .archive #content li ul {
    margin: 0 !important;
  	border: 1px solid #EEEEEE;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	padding: 10px;
}

.home #content li ul li, .archive #content li ul li, .dp-top-level #content ul li  {
    margin: 0 10px 0 0;
	border: none;
	padding: none;
    width: inherit;
    min-height: inherit;
}

.home #content li ul li a, .archive #content li ul li a, .dp-top-level #content ul li a  {
    color: #009ec4;
    text-decoration: none;
    font-style: italic;
}
.home #content li ul li a:hover, .archive #content li ul li a:hover, .dp-top-level #content ul li a:hover {
    color: #666666;
    text-decoration: underline;
}
.home #content h2 a, .dp-top-level #content h2 a, .archive #content h1 a {
    color: #009ec4;
    text-decoration: none;
}
.home #content h2 a:hover, .dp-top-level #content h2 a:hover, .archive #content h1 a:hover {
    text-decoration: underline;
}
.home #content h2{
    color: #666666;
	text-shadow: 1px 1px 0px #ffffff;
	font-size: 18px;
	font-weight: normal;
	background: #eeeeee;
	padding: 10px;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	margin-bottom: 10px;
}

