/* =Directory Styles
-------------------------------------------------------------- */


.dp-header-stra {
    position: absolute;
    width: 100%;
    height: 40px;
    top: 118px;
    background: #4C4B4B;
}
.dp-header-strb {
    position: absolute;
    width: 100%;
    height: 38px;
    top: 156px;
    background: #727171;
}
.dp-widgets-stra {
	padding: 10px;
	-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	border: 1px solid #eeeeee;
	background: #eeeeee;
    margin-bottom: 20px;
}



