
/* Content Types Admin Styles
*******************************************************************************/

.ct-wrap input[type="text"] {
    margin: 0 !important;
    width: 200px;
}
.ct-wrap select {
    height: auto !important;
}
.ct-wrap-left {
    width: 48%;
    float: left;
    margin-right: 20px;
}
.ct-wrap-left .description {
    display: block;
}
.ct-wrap-left .supports .description {
    display:  inline;
}
.ct-wrap-right {
    width: 48%;
    float: left;
}
.ct-table-wrap {
    -moz-border-radius:6px 6px 6px 6px;
    border-style:solid;
    border-width:1px;
    line-height:1;
    margin-bottom:20px;
    background-color: #FFFFFF;
    border-color:#DFDFDF;
    margin:0 0 20px 0;
}
.ct-toggle {
    padding:7px 9px;
    background:url("../images/gray-grad.png") repeat-x left top #DFDFDF;
    cursor: pointer;
    margin: 0;
}
.form-table {
    margin-bottom: 0px;
    margin-top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    border-collapse: inherit;
}
.ct-post-type h3, .ct-taxonomy h3, .ct-custom-fields h3 {
    font-size: 1em;
}
.ct-edit-row td {
    padding-top: 8px;
    padding-bottom: 8px;
}
.ct-arrow {
    background: url("../images/menu-bits.gif") no-repeat left -109px;
    float:right;
    height:28px;
    width:23px
}
.ct-arrow:hover {
    background: url('../images/menu-bits.gif') no-repeat left -206px;
}
.ct-form-single-btn {
    padding: 10px 0;
}
.ct-clear {
    clear: left;
}
.ct-required {
     color: #666;
     font-style: italic;
}
.ct-tf-icons {
    padding: 10px 0 0 10px;
}
.ct-object-type {
    width: 200px;
    height: inherit !important;
}
.ct-field-type-options {
    display: none;
}
.ct-capability-type-edit {
    display: inline-block !important;
}
.ct-field-description {
    width: 95%;
}
.ct-tf-icons-wrap {
    width: 7%;
}
.ct-content-types h2 {
    border-bottom:1px solid #CCCCCC;
    padding-bottom:0 ;
}
.ct-embed-code {
    max-width: 400px;
}
.updated {
    margin: 10px 15px 0 0;
}
.embed-code td {
    padding: 8px 0 16px 0 !important;
}
.embed-code-wrap {
    margin-left: 10px;
}